.swiper-nav {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 24px;
}

.swiper-button-prev,
.swiper-button-next {
	margin: 0;
	position: static;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6px auto;

	&::after {
		display: none;
	}

	&.swiper-button-disabled {
		background-color: var(--color-green);
		opacity: 1;
	}
}

.swiper-button-prev {
	background-image: url('../img/arr-prev.svg');

	&.swiper-button-disabled {
		background-image: url('../img/arr-prev-disabled.svg');
	}
}

.swiper-button-next {
	background-image: url('../img/arr-next.svg');

	&.swiper-button-disabled {
		background-image: url('../img/arr-next-disabled.svg');
	}
}

.swiper-pagination {
	position: static;
	margin-top: 24px;
}

.swiper-pagination-bullet-active {
	background-color: var(--color-green);
}

.swiper-pagination-bullet {
	width: 18px;
	height: 18px;
}