.messengers {
	display: flex;
	align-items: center;
	gap: 50px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 1;
	@media(max-width: 1024px) {
		flex-direction: column;
		gap: 75px;
	}
}

.widget-whatsapp {
	position: relative;
	width: 76px;
	height: 76px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: #3cb27f url("../img/whatsapp-button.webp") no-repeat center center;
	transition: transform 0.15s;

	@media(max-width: 767px) {
		width: 50px;
		height: 50px;
		background-size: contain;
	}
}

.widget-telegram {
	position: relative;
	width: 76px;
	height: 76px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: #2cb5f6 url("../img/telegram-button.svg") no-repeat center center;
	transition: transform 0.15s;

	@media(max-width: 767px) {
		width: 50px;
		height: 50px;
		background-size: contain;
	}
}

.widget-whatsapp::before {
	content: "";
	z-index: 1;
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	background: transparent;
	border: solid 2px #3cb27f;
	border-radius: 50%;
	animation: pulse 3s infinite;
}

.widget-telegram::before {
	content: "";
	z-index: 1;
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	background: transparent;
	border: solid 2px #2cb5f6;
	border-radius: 50%;
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		width: 76px;
		height: 76px;
		margin-top: -38px;
		margin-left: -38px;
	}

	80% {
		width: 120px;
		height: 120px;
		margin-top: -60px;
		margin-left: -60px;
		border-width: 1px;
	}

	100% {
		width: 76px;
		height: 76px;
		margin-top: -38px;
		margin-left: -38px;
	}
}