.advantages 
	.container
		.advantages__scroll
			.advantages__wrap.marquee.reverce
				.advantages__item
					h4.advantages__title Развитие ребенка
					.advantages__text 
						p Постоянная смена деятельности,  чередуем игры и обучение
						p Помогаем открыть таланты ребенка и рассказываем как закрепить результат
				.advantages__item.advantages__item--pic
					img(src='img/p1.webp' alt='')
				.advantages__item
					h4.advantages__title Безопасность
					.advantages__text
						p Камеры на территории с доступом для родителей. 
						p Дети под присмотром 2х воспитателей в каждой группе. А входы из образовательного пространства под контролем охранников.
				.advantages__item 
					h4.advantages__title Сотрудники 
					.advantages__text
						p Ежегодная аттестация и повышение квалификации для всех сотрудников
						p Постоянное обучение и обмен опытом среди педагогов
				.advantages__item.advantages__item--pic
					img(src='img/p2.webp' alt='')
				.advantages__item.advantages__item--last 
					h4.advantages__title Здоровье и чистота 
					.advantages__text
						p 1-2 прогулки каждый день и посещение соляной пещеры
						p Ежедневная уборка, обеззараживание воздуха рециркуляторами, проветривание после каждого  занятия.
			.advantages__wrap.marquee.reverce(aria-hidden="true")
				.advantages__item
					h4.advantages__title Развитие ребенка
					.advantages__text 
						p Постоянная смена деятельности,  чередуем игры и обучение
						p Помогаем открыть таланты ребенка и рассказываем как закрепить результат
				.advantages__item.advantages__item--pic
					img(src='img/p1.webp' alt='')
				.advantages__item
					h4.advantages__title Безопасность
					.advantages__text
						p Камеры на территории с доступом для родителей. 
						p Дети под присмотром 2х воспитателей в каждой группе. А входы из образовательного пространства под контролем охранников.
				.advantages__item 
					h4.advantages__title Сотрудники 
					.advantages__text
						p Ежегодная аттестация и повышение квалификации для всех сотрудников
						p Постоянное обучение и обмен опытом среди педагогов
				.advantages__item.advantages__item--pic
					img(src='img/p2.webp' alt='')
				.advantages__item.advantages__item--last 
					h4.advantages__title Здоровье и чистота 
					.advantages__text
						p 1-2 прогулки каждый день и посещение соляной пещеры
						p Ежедневная уборка, обеззараживание воздуха рециркуляторами, проветривание после каждого  занятия.