.feedback#popup1
	.feedback__wrap
		<iframe src="https://lenkovschool.s20.online/common/2/form/draw?id=1&amp;baseColor=205EDC&amp;borderRadius=8&amp;css=%2F%2Fcdn.alfacrm.pro%2Flead-form%2Fform.css" width="100%" height="100%" frameborder="0"></iframe>
		a.feedback__close
			img(src='img/close-menu.svg' alt='') 
	//- .feedbacK__head
	//- 	h2.feedback__title Оставьте заявку
	//- 	p.feedback__subtitle Позвоним вам и детально расскажем все про садик и развивающие занятия
	//- form.feedback__form(method="POST")
	//- 	.feedback__inputs 
	//- 		input.name(type="text" name="name" placeholder="Имя")
	//- 		input.tel(type="text" name="phone" placeholder="+7" required)
	//- 	input.btn.btn--default.feedback__submit(type="submit" value="Отправить" disabled)
	//- p.feedback__concent Нажимая на кнопку «Отправить» вы соглашаетесь с 
	//- 	a(href="politica.html") обработкой персональных данных

.feedback#popup2
	.feedback__wrap
		<iframe src="https://lenkovschool.s20.online/common/2/form/draw?id=2&amp;baseColor=205EDC&amp;borderRadius=8&amp;css=%2F%2Fcdn.alfacrm.pro%2Flead-form%2Fform.css" width="100%" height="100%" frameborder="0"></iframe>
		a.feedback__close
			img(src='img/close-menu.svg' alt='') 
	//- .feedbacK__head
	//- 	h2.feedback__title Оставьте заявку
	//- 	p.feedback__subtitle и запишем вас на экскурсию
	//- form.feedback__form(method="POST")
	//- 	.feedback__inputs 
	//- 		input.name(type="text" name="name" placeholder="Имя")
	//- 		input.tel(type="text" name="phone" placeholder="+7" required)
	//- 	input.btn.btn--default.feedback__submit(type="submit" value="Записаться" disabled)
	//- p.feedback__concent Нажимая на кнопку «Отправить» вы соглашаетесь с 
	//- 	a(href="politica.html") обработкой персональных данных

.feedback#popup3
	.feedback__wrap
		<iframe src="https://lenkovschool.s20.online/common/2/form/draw?id=3&amp;baseColor=205EDC&amp;borderRadius=8&amp;css=%2F%2Fcdn.alfacrm.pro%2Flead-form%2Fform.css" width="100%" height="100%" frameborder="0"></iframe>
		a.feedback__close
			img(src='img/close-menu.svg' alt='') 
	//- .feedbacK__head
	//- 	h2.feedback__title Оставьте заявку
	//- 	p.feedback__subtitle запишем вас на ознакомительное занятие
	//- form.feedback__form(method="POST")
	//- 	.feedback__inputs 
	//- 		input.name(type="text" name="name" placeholder="Имя")
	//- 		input.tel(type="text" name="phone" placeholder="+7" required)
	//- 	input.btn.btn--default.feedback__submit(type="submit" value="Записаться" disabled)
	//- p.feedback__concent Нажимая на кнопку «Отправить» вы соглашаетесь с 
	//- 	a(href="politica.html") обработкой персональных данных


//- #erconts(style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; border: 1px solid #000;")