section.section.offers 
	.container 
		.section__head 
			h2.section__title Развиваем сильные стороны вашего ребенка через метанавыки
			p.section__subtitle Такие как коммуникативность, креативность, адаптивность и эмоциональный интеллект...
		.offers__wrap 

			.offers__item#navik2(data-aos="fade-up")
				.offers__deadlines от 9 мес. до 3 лет
				.offers__item-content
					h4.offers__item-title Развивающие занятия
					.offers__item-text 
						p Занятия, направленные на гармоничное <br> всестороннее развитие ребенка,<br> начиная с первых месяцев жизни.
						p Развитие речи, базовые навыки<br> самообслуживания, активное<br> исследование окружающего мира.
						p Для самых маленьких совместно с родителями.
					a.btn.btn--default.open-feedback Узнать подробнее

			.offers__item#navik1(data-aos="fade-up")
				.offers__deadlines от 1,2 до 7 лет
				.offers__item-content
					h4.offers__item-title Ясли и детский сад
					.offers__item-text 
						p Гибкие возможности по времени и числу дней<br> в неделю для пребывания в детском саду
						p Раскрываем индивидуальные особенности<br> и возможности каждого ребенка.
						p Баланс между обучением, игрой<br> и физической активностью.
					a.btn.btn--default.open-feedback Узнать подробнее

			.offers__item#navik3(data-aos="fade-up")
				.offers__deadlines от 5 до 7 лет
				.offers__item-content
					h4.offers__item-title Подготовка к школе
					.offers__item-text 
						p Бережная адаптация с учетом актуальных<br> требований начальной школы.
						p Индивидуальная подготовка<br> к конкретным требованиям<br> выбранной школы или лицея.
						p Наши выпускники поступают в лучшие учреждения<br> Москвы: школа "Управления делами Президента РФ",<br> "Новая школа", Russian International School.
					a.btn.btn--default.open-feedback Узнать подробнее