section.section.review 
	.container 
		.section__head 
			h2.section__title 600 кв.м на 2-х этажах <br> образовательного пространства
		.review__wrap
			.review__adv 
				.review__adv-item(data-aos="fade-up")
					img(src='img/i1.svg' alt='')
					p Отдельная спальня, столовая,<br> зал для спортивных и музыкальных занятий,<br> а также развлекательных мероприятий
				.review__adv-item(data-aos="fade-up")
					img(src='img/i2.svg' alt='')
					p На закрытой охраняемой территории<br> 3 детские площадки под разные возраста
				.review__adv-item(data-aos="fade-up")
					img(src='img/i3.svg' alt='')
					p 2 декоратора и сотрудники украшают<br> сад внутри, создавая атмосферу праздника

			.tab-container.gallery-block 
				.tabs.gallery-block__head
					a.gallery-block__link.tab.active Интерьер
					a.gallery-block__link.tab Занятия
				.tab-panes 
					.tab-pane.active 
						.swiper.swiper-gallery-interior
							.swiper-wrapper 
								a.swiper-slide(href='img/interior/1.webp' data-fancybox="gallery1")
									img(src='img/interior/1.webp' alt='')
								a.swiper-slide(href='img/interior/2.webp' data-fancybox="gallery1")
									img(src='img/interior/2.webp' alt='')
								a.swiper-slide(href='img/interior/3.webp' data-fancybox="gallery1")
									img(src='img/interior/3.webp' alt='')
								a.swiper-slide(href='img/interior/4.webp' data-fancybox="gallery1")
									img(src='img/interior/4.webp' alt='')
								a.swiper-slide(href='img/interior/5.webp' data-fancybox="gallery1")
									img(src='img/interior/5.webp' alt='')
								a.swiper-slide(href='img/interior/6.webp' data-fancybox="gallery1")
									img(src='img/interior/6.webp' alt='')
								a.swiper-slide(href='img/interior/7.webp' data-fancybox="gallery1")
									img(src='img/interior/7.webp' alt='')
								a.swiper-slide(href='img/interior/8.webp' data-fancybox="gallery1")
									img(src='img/interior/8.webp' alt='')
								a.swiper-slide(href='img/interior/9.webp' data-fancybox="gallery1")
									img(src='img/interior/9.webp' alt='')
								a.swiper-slide(href='img/interior/10.webp' data-fancybox="gallery1")
									img(src='img/interior/10.webp' alt='')
								a.swiper-slide(href='img/interior/11.webp' data-fancybox="gallery1")
									img(src='img/interior/11.webp' alt='')
								a.swiper-slide(href='img/interior/12.webp' data-fancybox="gallery1")
									img(src='img/interior/12.webp' alt='')
								a.swiper-slide(href='img/interior/13.webp' data-fancybox="gallery1")
									img(src='img/interior/13.webp' alt='')
								a.swiper-slide(href='img/interior/14.webp' data-fancybox="gallery1")
									img(src='img/interior/14.webp' alt='')
								a.swiper-slide(href='img/interior/15.webp' data-fancybox="gallery1")
									img(src='img/interior/15.webp' alt='')
								a.swiper-slide(href='img/interior/16.webp' data-fancybox="gallery1")
									img(src='img/interior/16.webp' alt='')
								a.swiper-slide(href='img/interior/17.webp' data-fancybox="gallery1")
									img(src='img/interior/17.webp' alt='')
								a.swiper-slide(href='img/interior/18.webp' data-fancybox="gallery1")
									img(src='img/interior/18.webp' alt='')
								a.swiper-slide(href='img/interior/19.webp' data-fancybox="gallery1")
									img(src='img/interior/18.webp' alt='')
								a.swiper-slide(href='img/interior/20.webp' data-fancybox="gallery1")
									img(src='img/interior/20.webp' alt='')
							.swiper-pagination
							.swiper-nav
								.swiper-button-prev
								.swiper-button-next
					.tab-pane 
						.swiper.swiper-gallery-lessons
							.swiper-wrapper
								a.swiper-slide(href='img/lessons/21.webp' data-fancybox="gallery2")
									img(src='img/lessons/21.webp' alt='')
								a.swiper-slide(href='img/lessons/22.webp' data-fancybox="gallery2")
									img(src='img/lessons/22.webp' alt='')
								a.swiper-slide(href='img/lessons/23.webp' data-fancybox="gallery2")
									img(src='img/lessons/23.webp' alt='')
								a.swiper-slide(href='img/lessons/24.webp' data-fancybox="gallery2")
									img(src='img/lessons/24.webp' alt='')
								a.swiper-slide(href='img/lessons/25.webp' data-fancybox="gallery2")
									img(src='img/lessons/25.webp' alt='')
								a.swiper-slide(href='img/lessons/26.webp' data-fancybox="gallery2")
									img(src='img/lessons/26.webp' alt='')
								a.swiper-slide(href='img/lessons/27.webp' data-fancybox="gallery2")
									img(src='img/lessons/27.webp' alt='')
								a.swiper-slide(href='img/lessons/28.webp' data-fancybox="gallery2")
									img(src='img/lessons/28.webp' alt='')
								a.swiper-slide(href='img/lessons/29.webp' data-fancybox="gallery2")
									img(src='img/lessons/29.webp' alt='')
								a.swiper-slide(href='img/lessons/30.webp' data-fancybox="gallery2")
									img(src='img/lessons/30.webp' alt='')
								a.swiper-slide(href='img/lessons/31.webp' data-fancybox="gallery2")
									img(src='img/lessons/31.webp' alt='')
								a.swiper-slide(href='img/lessons/32.webp' data-fancybox="gallery2")
									img(src='img/lessons/32.webp' alt='')
								a.swiper-slide(href='img/lessons/33.webp' data-fancybox="gallery2")
									img(src='img/lessons/33.webp' alt='')
							.swiper-pagination
							.swiper-nav
								.swiper-button-prev
								.swiper-button-next

			a.btn.btn--default.open-feedback3 Запишитесь на ознакомительное занятие 