section.section.teachers#teachers-anchor 
	.container 
		.section__head.teachers__head
			h2.section__title Преподаватели станут надежными наставниками<br> для родителей и друзьями для детей
	.teachers__wrap 
		.teachers__adv 
			.teachers__plain
				img(src='img/plain.svg' alt='')
			.container
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Отбираем 1 сотрудника из 60 кандидатов 
					p Ищем людей, искренне горящих своей профессией. Каждый кандидат проходит 5 этапов отбора
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Обязательное повышение квалификации
					p Обучения и аттестации, участие в конференциях, обмен опытом с коллегами
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Ключевая ценность: заботливое отношение к детям
					p Принимаем на работу людей, искренне любящих детей, и безгранично помогаем им раскрывать таланты среди единомышленников
	.container
		.swiper.swiper-teachers 
			.swiper-wrapper 
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/p3.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Евгения Николаева, 27 лет
						.swiper-teachers__item-text 
							p Преподаватель группы детского сада <br> Логопед 
							p 2007 окончил Педагогический <br> 2012 курсы обучения по играм <br> 2018 сертификация логопеда 
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/p4.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Светлана Иванова, 27 лет
						.swiper-teachers__item-text 
							p Преподаватель группы детского сада <br> Логопед 
							p 2007 окончил Педагогический <br> 2012 курсы обучения по играм <br> 2018 сертификация логопеда 
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/p5.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Светлана Иванова, 27 лет
						.swiper-teachers__item-text 
							p Преподаватель группы детского сада <br> Логопед 
							p 2007 окончил Педагогический <br> 2012 курсы обучения по играм <br> 2018 сертификация логопеда 
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/p3.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Светлана Иванова, 27 лет
						.swiper-teachers__item-text 
							p Преподаватель группы детского сада <br> Логопед 
							p 2007 окончил Педагогический <br> 2012 курсы обучения по играм <br> 2018 сертификация логопеда 
			.swiper-pagination
			.swiper-nav
				.swiper-button-prev 
				.swiper-button-next