footer.footer 
	.container
		.footer__wrap 
			.footer__aside 
				a.logo.logo--footer(href="") 
					img(src='img/logo.svg' alt='логотип')
				a.footer__politic(href="politica.html") Политика конфиденциальности 
			.footer__center
				.footer__nav 
					a(href="") Детский сад
					a(href="") Развивающие занятия
					a(href="") Дошкольная подготовка
				.footer__nav
					a(href="") Галерея
					a(href="") Контакты
					a(href="") Отзывы
				.footer__requisites
					span ИП Ленков О.А.
					span ОГРНИП 315774600287164
					span ИНН 773379177221
			.footer__contacts 
				a.footer__tel(href="tel:+79153455555" onclick="ym(54995032,'reachGoal','callphone'); return true;") 
					img(src='img/tel.svg' alt='')
					| +7 915 345-55-55
				.footer__social 
					a(href="https://vk.com/matveevskiyclubsad " target="_blank")
						img(src='img/vk.svg' alt='')
					a(href="https://t.me/babymatveevski" onclick="ym(54995032,'reachGoal','messendger'); return true;" target="_blank")
						img(src='img/tg.svg' , alt='')
					a(href="https://api.whatsapp.com/send/?phone=79153455555&text&type=phone_number&app_absent=0" onclick="ym(54995032,'reachGoal','messendger'); return true;" target="_blank")
						img(src='img/whatsapp.svg' alt='')
				a.btn.btn--default.btn--footer.open-feedback3 Запишитесь на ознакомительное занятие

button.top-btn
	img(src='img/arr-up.svg' alt='')

include ../templates/feedbacks

.overlay

.messengers
	a.widget-whatsapp(href="https://api.whatsapp.com/send/?phone=79153455555&text&type=phone_number&app_absent=0" target="_blank") 
	a.widget-telegram(href="https://t.me/babymatveevski " target="_blank")