head 
	meta(charset="utf-8")
	title Детский сад, ясли, развивающие занятия для дошкольников - Больше чем дети!
	meta(content="ie=edge" http-equiv="x-ua-compatible")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="viewport-extra" content="width=device-width,initial-scale=1,min-width=375")
	meta(name="description" content="Больше чем образовательное пространство 500м2 для детей от 9 мес. до 7 лет: детский сад и ясли с выбором дней и времени, развивающие занятия для всех возрастов, подготовка к конкретным школам.") 
	link(rel="icon" href="favicon.ico")
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
	link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
	link(rel="stylesheet" href="fonts/stylesheet.css")
	link(rel="stylesheet" href="css/style.min.css")
	//- Yandex.Metrika counter 
	script
		include ../../js/metrika.js
	//- Yandex.Metrika counter