header.header 
	.container.container--header
		.header__wrap 
			a.header__logo(href="index.html")
				img(src='img/logo.svg' alt='логотип') 
			.header__aside
				nav.header__nav 
					a(href="#navik1") Ясли и детский сад
					a(href="#navik2") Развивающие занятия
					a(href="#navik3") Подготовка к школе
					a(href="") Галерея
					a(href="") Преподователи
					a(href="") Отзывы
					a(href="") Контакты
				a.header__tel(href="tel:+79153455555" onclick="ym(54995032,'reachGoal','callphone'); return true;") +7 915 345-55-55
				a.btn.btn--header.open-feedback2 Запишитесь на экскурсию
			.header__mobile
				a.header__tel-mobile(href="tel:+79153455555" onclick="ym(54995032,'reachGoal','callphone'); return true;") +7 915 345-55-55
				.burger 