header.header 
	.container.container--header
		.header__wrap 
			a.logo.logo--header(href="index.html")
				img(src='img/logo.webp' alt='логотип') 
			.header__aside
				nav.header__nav
					a.data-scroll(href="#navik1") Ясли и детский сад
					a.data-scroll(href="#navik2") Развивающие занятия
					a.data-scroll(href="#navik3") Подготовка к школе
					a.data-scroll(href="#gallery-anchor") Галерея
					a.data-scroll(href="#teachers-anchor") Преподаватели
					a.data-scroll(href="#reviews-anchor") Отзывы
					a.data-scroll(href="#contacts-anchor") Контакты
				a.header__tel(href="tel:+78003009784" onclick="ym(54995032,'reachGoal','callphone'); return true;") +7 800 300-97-84
				a.btn.btn--header.open-feedback2 Запишитесь на экскурсию
			.header__mobile
				a.header__tel-mobile(href="tel:+78003009784" onclick="ym(54995032,'reachGoal','callphone'); return true;") +7 800 300-97-84
				.burger