script(src="js/jquery-3.7.1.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/fancybox.umd.js")
script(src="js/aos.js")
script(src="js/tabs.js")
script(src="js/mail.js")
//- script(src="js/scrollmagic/gsap.min.js")
//- script(src="js/scrollmagic/ScrollMagic.js")
//- script(src="js/scrollmagic/animation.gsap.js")
//- script(src="js/scrollmagic/scroll.js")
//- script(src="js/scrollmagic/debug.addIndicators.js")
script(src="js/main.js")