extends layout
block main 
	main
		section.section.page-404 
			span.page-404__error
				i 404
				#error 
			h1.page-404__title Страница не найдена
			a.btn.btn--default(href="index.html") Перейти на главную