// @import "utils/stylesheet";
// @import "./node_modules/normalize.css/normalize";

@import "utils/variables";

*,
*::before,
*::after {
	border: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	color: var(--color-black, #2C2C2C);
	font-family: "Montserrat Alternates", "sans-serif";
	line-height: 1.2;
	font-size: 14px;
	font-weight: 400;
	background: #F5F1EF;

	&.hidden {
		overflow: hidden;
	}

	@media(max-width: 1600px) and (min-width: 1400px) {
		zoom: 0.8;
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	margin-top: 170px;

	@media(max-width: 1023px) {
		margin-top: 140px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.container {
	max-width: calc(1588px + 32px);
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;

	&--header {
		max-width: calc(1600px + 32px);
	}

	@media(max-width: 767px) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(126, 126, 126, 0.46);
	display: none;
	z-index: 1;

	&.active {
		display: block;
	}
}

.logo {
	min-width: 121px;

	&--footer {
		@media(max-width: 1023px) {
			min-width: 255px;
			max-width: 255px;
			height: 137px;

			img {
				width: 100%;
			}
		}
	}
}